# Copyright (c) 2022 Space Cubics, LLC.
# SPDX-License-Identifier: Apache-2.0

config MICROROS_META
	bool "Enable MicroROS support"
	help
	  Enable all MicroROS modules

if MICROROS_META
	config APP_LINK_WITH_MICROROS_META
	bool "Link 'app' with MICROROS_META"
	default y
	help
	  Add all required haeder files to the 'app' include path

endif # MICROROS_META
